.footer{
	background: #f9f4e2 url('/src/assets/images/footer_bg.png');
	min-height: 126px;
}

.footerContainer{
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	img{
		cursor: pointer;
	}
	ul{
		display: flex;
		gap: 30px;
		align-items: center;
		*{
			color: var(--main-onsurface);
			font-size: 12px
		}
		.active{
			color: var(--orange);
		}
	}
	&>div:first-child{
		nav{
			padding-top: 20px;
			line-height: 150%;
		}
	}
	&>div{
		display: flex;
		align-items: center;
		gap: 30px;
		div:first-child{
			display: flex;
			gap: 16px;
		}
	}

}

.footerNav{
	display: none;
	background: var(--white);
	padding: 20px 10px;
	justify-content: center;
	gap: 90px;
}


@media(max-width:800px){
	.footerContainer{
		ul{
			flex-wrap: wrap;
			gap: 20px;
		}
	}
}

@media(max-width:680px){
	.footerContainer{
		&>div{
			div:first-child{
				flex-wrap: wrap;
				gap: 8px;
			}
		}
	}
}

@media(max-width:540px){
	.footerContainer{
		flex-direction: column;
		gap: 20px;
		padding-left: 40px;
	}
	.footerNav{
		display: flex;
	}
}