:root{
	--main-onsurface:#414141;
	--main-secondary:#70C05B;
	--grayscale---hard:#8F8F8F;
	--grayscale---light:#BFBFBF;
	--grayscale---hardest:#606060;
	--white:#ffffff;
	--orange:#FF6633;
	--light--pink:#FBF8EC;
	--pink:#FCD5BA;
	--muted--green:#E5FFDE;
}